# Proyecto 1: Analítica computacional para la toma de decisiones
Carolina Rodríguez

Gabriela Martínez

Wilmar Calderón

Tarea 2: Alistamiento de Datos

In [21]:
#Importation of all the relevant Python Packages
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [22]:
#Reading of the comma delimited text
df=pd.read_csv('.\\data.txt')

In [23]:
#Preliminary view of the data (top 5 registers)
df.head()

,date,quarter,department,day,team,targeted_productivity,smv,wip,over_time,incentive,idle_time,idle_men,no_of_style_change,no_of_workers,actual_productivity
0,1/1/2015,Quarter1,sweing,Thursday,8,0.80,26.16,1108.0,7080,98,0.0,0,0,59.0,0.940725
1,1/1/2015,Quarter1,finishing,Thursday,1,0.75,3.94,NaN,960,0,0.0,0,0,8.0,0.886500
2,1/1/2015,Quarter1,sweing,Thursday,11,0.80,11.41,968.0,3660,50,0.0,0,0,30.5,0.800570
3,1/1/2015,Quarter1,sweing,Thursday,12,0.80,11.41,968.0,3660,50,0.0,0,0,30.5,0.800570
4,1/1/2015,Quarter1,sweing,Thursday,6,0.80,25.90,1170.0,1920,50,0.0,0,0,56.0,0.800382

In [24]:
#Statistical description of all the variables
df.describe()

,team,targeted_productivity,smv,wip,over_time,incentive,idle_time,idle_men,no_of_style_change,no_of_workers,actual_productivity
count,1197.000000,1197.000000,1197.000000,691.000000,1197.000000,1197.000000,1197.000000,1197.000000,1197.000000,1197.000000,1197.000000
mean,6.426901,0.729632,15.062172,1190.465991,4567.460317,38.210526,0.730159,0.369256,0.150376,34.609858,0.735091
std,3.463963,0.097891,10.943219,1837.455001,3348.823563,160.182643,12.709757,3.268987,0.427848,22.197687,0.174488
min,1.000000,0.070000,2.900000,7.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2.000000,0.233705
25%,3.000000,0.700000,3.940000,774.500000,1440.000000,0.000000,0.000000,0.000000,0.000000,9.000000,0.650307
50%,6.000000,0.750000,15.260000,1039.000000,3960.000000,0.000000,0.000000,0.000000,0.000000,34.000000,0.773333
75%,9.000000,0.800000,24.260000,1252.500000,6960.000000,50.000000,0.000000,0.000000,0.000000,57.000000,0.850253
max,12.000000,0.800000,54.560000,23122.000000,25920.000000,3600.000000,300.000000,45.000000,2.000000,89.000000,1.120437

In [25]:
## Study to determine if there are duplicates or null values.
    # no. of duplicates 
duplicates = len(df[df.duplicated()])
    # no of missing values
missing_values = df.isnull().sum().sum()

## Review of the varibles types.
# Data types in dataset
types = df.dtypes.value_counts()

In [26]:
#Print of the results: definition of duplicate numbers, missing values, number of registers and features (rows x columns)
print('Number of Duplicate Entries: %d'%(duplicates))
print('Number of Missing Values: %d'%(missing_values))
print('Number of Features: %d'%(df.shape[1]))
print('Number of Registers: %d'%(df.shape[0]))
print('Data Types and Frequency in Dataset:')
print(types)

Number of Duplicate Entries: 0
Number of Missing Values: 506
Number of Features: 15
Number of Registers: 1197
Data Types and Frequency in Dataset:
float64    6
int64      5
object     4
Name: count, dtype: int64

In [27]:
#Identification of the column that has null values
cols=df.columns.values
for col in cols:
    if (df[col].isnull().sum()>0):
        print(col)

wip

*wip:* Trabajo en progreso. Incluye la cantidad de elementos sin terminar.

In [28]:
#Indexation of the rows where wip is null and the incentive is 0. Incentive>0 for wip==null identified as outliers
dropable=df[(df['wip'].isnull()) & (df['incentive']>0)]
print(dropable.index.values)
#Modification of the places of the values identified, all incentives for wip=NAN were 0, so these were modified
df_fin=df
df_fin.iloc[dropable.index.values,8]=df.iloc[dropable.index.values,9]
df_fin.iloc[dropable.index.values,9]=0

#modification of null to 0 in the wip. From the variable characteristic, as it relates to the missing products to be finished, 
#an empty value would be considered as 0.
df_fin['wip'].fillna(0, inplace=True)

[1128 1129 1130 1133 1137 1138 1139 1143 1148 1149]
           date   quarter department        day  team  targeted_productivity  \
1137   3/9/2015  Quarter2  finishing     Monday     3                   0.80
1138   3/9/2015  Quarter2  finishing     Monday     4                   0.75
1139   3/9/2015  Quarter2  finishing     Monday     1                   0.75
1140   3/9/2015  Quarter2     sweing     Monday     9                   0.75
1141   3/9/2015  Quarter2     sweing     Monday     2                   0.70
1142   3/9/2015  Quarter2     sweing     Monday    10                   0.70
1143   3/9/2015  Quarter2  finishing     Monday     2                   0.70
1144   3/9/2015  Quarter2     sweing     Monday     6                   0.65
1145   3/9/2015  Quarter2     sweing     Monday     8                   0.65
1146   3/9/2015  Quarter2     sweing     Monday     5                   0.60
1147   3/9/2015  Quarter2     sweing     Monday     7                   0.50
1148   3/9/2015  Quarter2  finishing     Monday    10                   0.70
1149   3/9/2015  Quarter2  finishing     Monday     8                   0.65
1150  3/10/2015  Quarter2  finishing    Tuesday    12                   0.80
1151  3/10/2015  Quarter2  finishing    Tuesday     5                   0.60
1152  3/10/2015  Quarter2     sweing    Tuesday     1                   0.75
1153  3/10/2015  Quarter2  finishing    Tuesday     3                   0.80
1154  3/10/2015  Quarter2  finishing    Tuesday     4                   0.75
1155  3/10/2015  Quarter2  finishing    Tuesday     1                   0.75
1156  3/10/2015  Quarter2     sweing    Tuesday     4                   0.75
1157  3/10/2015  Quarter2  finishing    Tuesday     9                   0.75
1158  3/10/2015  Quarter2     sweing    Tuesday    12                   0.80
1159  3/10/2015  Quarter2     sweing    Tuesday     3                   0.80
1160  3/10/2015  Quarter2     sweing    Tuesday    11                   0.80
1161  3/10/2015  Quarter2  finishing    Tuesday    11                   0.80
1162  3/10/2015  Quarter2     sweing    Tuesday    10                   0.75
1163  3/10/2015  Quarter2     sweing    Tuesday     9                   0.75
1164  3/10/2015  Quarter2  finishing    Tuesday     2                   0.70
1165  3/10/2015  Quarter2     sweing    Tuesday     8                   0.70
1166  3/10/2015  Quarter2     sweing    Tuesday     6                   0.70
1167  3/10/2015  Quarter2     sweing    Tuesday     2                   0.70
1168  3/10/2015  Quarter2     sweing    Tuesday     5                   0.65
1169  3/10/2015  Quarter2     sweing    Tuesday     7                   0.60
1170  3/10/2015  Quarter2  finishing    Tuesday     8                   0.65
1171  3/10/2015  Quarter2  finishing    Tuesday     7                   0.50
1172  3/10/2015  Quarter2  finishing    Tuesday    10                   0.70
1173  3/11/2015  Quarter2  finishing  Wednesday    12                   0.80
1174  3/11/2015  Quarter2  finishing  Wednesday    11                   0.80
1175  3/11/2015  Quarter2  finishing  Wednesday     2                   0.75
1176  3/11/2015  Quarter2  finishing  Wednesday     4                   0.75
1177  3/11/2015  Quarter2  finishing  Wednesday     1                   0.75
1178  3/11/2015  Quarter2     sweing  Wednesday    12                   0.80
1179  3/11/2015  Quarter2     sweing  Wednesday     3                   0.80
1180  3/11/2015  Quarter2     sweing  Wednesday    11                   0.80
1181  3/11/2015  Quarter2  finishing  Wednesday     3                   0.80
1182  3/11/2015  Quarter2  finishing  Wednesday     5                   0.70
1183  3/11/2015  Quarter2     sweing  Wednesday    10                   0.75
1184  3/11/2015  Quarter2     sweing  Wednesday     9                   0.75
1185  3/11/2015  Quarter2     sweing  Wednesday     2                   0.75
1186  3/11/2015  Quarter2     sweing  Wednesday     1                   0.75
1187  3/11/2015  Quarter2     sweing  Wednesday     4                   0.75
1188  3/11/2015  Quarter2     sweing  Wednesday     5                   0.70
1189  3/11/2015  Quarter2     sweing  Wednesday     8                   0.70
1190  3/11/2015  Quarter2     sweing  Wednesday     6                   0.70
1191  3/11/2015  Quarter2     sweing  Wednesday     7                   0.65
1192  3/11/2015  Quarter2  finishing  Wednesday    10                   0.75
1193  3/11/2015  Quarter2  finishing  Wednesday     8                   0.70
1194  3/11/2015  Quarter2  finishing  Wednesday     7                   0.65
1195  3/11/2015  Quarter2  finishing  Wednesday     9                   0.75
1196  3/11/2015  Quarter2  finishing  Wednesday     6                   0.70

        smv     wip  over_time  incentive  idle_time  idle_men  \
1137   4.60     NaN       1440          0        0.0         0
1138   3.94     NaN        960          0        0.0         0
1139   3.94     NaN        960          0        0.0         0
1140  18.79  1193.0       6240         45        0.0         0
1141  16.10   817.0       5520         30        0.0         0
1142  21.82  1576.0       6000         30        0.0         0
1143   3.90     NaN       1200          0        0.0         0
1144  23.41  1262.0       4560         35        0.0         0
1145  30.48   953.0       6720         26        0.0         0
1146  26.82   919.0       7080         23        0.0         0
1147  30.48  1161.0       6600          0        0.0         0
1148   2.90     NaN        960          0        0.0         0
1149   3.90     NaN        960          0        0.0         0
1150   4.60     NaN       1080          0        0.0         0
1151   3.94     NaN       1440          0        0.0         0
1152  26.82  1574.0       7080         75        0.0         0
1153   4.60     NaN       1440          0        0.0         0
1154   3.94     NaN        960          0        0.0         0
1155   3.94     NaN        960          0        0.0         0
1156  26.82  1104.0       5880         65        0.0         0
1157   2.90     NaN       1800          0        0.0         0
1158  15.26  1069.0       4080         63        0.0         0
1159  30.10   756.0       6960         63        0.0         0
1160  11.41   338.0       3420         50        0.0         0
1161   2.90     NaN        960          0        0.0         0
1162  21.82  1499.0       6000         34        0.0         0
1163  18.79  1247.0       6240         45        0.0         0
1164   3.90     NaN        960          0        0.0         0
1165  30.48   923.0       6840         30        0.0         0
1166  23.41  1180.0       4560         30        0.0         0
1167  16.10   957.0       5400         40        0.0         0
1168  26.82  1001.0       7080         26        0.0         0
1169  30.48  1017.0       6840         25        0.0         0
1170   3.90     NaN        960          0        0.0         0
1171   3.90     NaN        960          0        0.0         0
1172   2.90     NaN        960          0        0.0         0
1173   4.60     NaN       2160          0        0.0         0
1174   2.90     NaN       2400          0        0.0         0
1175   3.90     NaN       1920          0        0.0         0
1176   3.94     NaN       1920          0        0.0         0
1177   3.94     NaN       1920          0        0.0         0
1178  15.26   470.0       4080         63        0.0         0
1179  30.10   735.0       6960         63        0.0         0
1180  11.41   560.0       3420         50        0.0         0
1181   4.60     NaN       1920          0        0.0         0
1182   3.94     NaN       1440          0        0.0         0
1183  21.82  1674.0       6000         34        0.0         0
1184  18.79   290.0       5040         45        0.0         0
1185  16.10   971.0       5400         45        0.0         0
1186  26.82  1322.0       7080         45        0.0         0
1187  26.82  1054.0       7080         45        0.0         0
1188  26.82   992.0       6960         30        0.0         0
1189  30.48   914.0       6840         30        0.0         0
1190  23.41  1128.0       4560         40        0.0         0
1191  30.48   935.0       6840         26        0.0         0
1192   2.90     NaN        960          0        0.0         0
1193   3.90     NaN        960          0        0.0         0
1194   3.90     NaN        960          0        0.0         0
1195   2.90     NaN       1800          0        0.0         0
1196   2.90     NaN        720          0        0.0         0

      no_of_style_change  no_of_workers  actual_productivity
1137                   0           12.0             0.795417
1138                   0            8.0             0.795388
1139                   0            8.0             0.794567
1140                   0           52.0             0.750396
1141                   1           45.0             0.700516
1142                   0           50.0             0.700422
1143                   0           10.0             0.682500
1144                   1           38.0             0.650962
1145                   1           56.0             0.650421
1146                   1           59.0             0.600041
1147                   1           55.0             0.500611
1148                   0            8.0             0.477292
1149                   0            8.0             0.264062
1150                   0            9.0             0.920000
1151                   0           12.0             0.909392
1152                   0           59.0             0.900061
1153                   0           12.0             0.894444
1154                   0            8.0             0.881575
1155                   0            8.0             0.880754
1156                   0           59.0             0.850084
1157                   0           15.0             0.821667
1158                   0           34.0             0.800402
1159                   1           58.0             0.800072
1160                   0           58.0             0.800035
1161                   0            8.0             0.758229
1162                   0           50.0             0.750608
1163                   0           52.0             0.750396
1164                   0            8.0             0.741000
1165                   1           57.0             0.700505
1166                   1           38.0             0.700246
1167                   1           45.0             0.700052
1168                   1           59.0             0.650044
1169                   1           57.0             0.630403
1170                   0            8.0             0.560625
1171                   0            8.0             0.560625
1172                   0            8.0             0.398750
1173                   0            9.0             0.922840
1174                   0           10.0             0.874028
1175                   0            8.0             0.819271
1176                   0            8.0             0.813309
1177                   0            8.0             0.812625
1178                   0           34.0             0.800402
1179                   1           58.0             0.800072
1180                   0           58.0             0.800035
1181                   0            8.0             0.786632
1182                   0           12.0             0.758850
1183                   0           50.0             0.750608
1184                   0           52.0             0.750347
1185                   1           45.0             0.750141
1186                   0           59.0             0.750051
1187                   0           59.0             0.750051
1188                   1           58.0             0.700557
1189                   1           57.0             0.700505
1190                   1           38.0             0.700246
1191                   1           57.0             0.650596
1192                   0            8.0             0.628333
1193                   0            8.0             0.625625
1194                   0            8.0             0.625625
1195                   0           15.0             0.505889
1196                   0            6.0             0.394722

In [29]:
# review for no of missing values
missing_values = df_fin.isnull().sum().sum()
print('Number of Missing Values: %d'%(missing_values))

Number of Missing Values: 0

In [30]:
#Update of the datatypes of the dataframe. Date: datetime, no_of_workers: int, department is cleared from any space to avoid multiple categories.
df_fin['date']= pd.to_datetime(df_fin['date'])
df_fin['no_of_workers']=df_fin['no_of_workers'].astype(int)
df_fin['department'] = df_fin['department'].str.strip()

In [31]:
#Print details of the variables
df_fin.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1197 entries, 0 to 1196
Data columns (total 15 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   date                   1197 non-null   datetime64[ns]
 1   quarter                1197 non-null   object
 2   department             1197 non-null   object
 3   day                    1197 non-null   object
 4   team                   1197 non-null   int64
 5   targeted_productivity  1197 non-null   float64
 6   smv                    1197 non-null   float64
 7   wip                    1197 non-null   float64
 8   over_time              1197 non-null   int64
 9   incentive              1197 non-null   int64
 10  idle_time              1197 non-null   float64
 11  idle_men               1197 non-null   int64
 12  no_of_style_change     1197 non-null   int64
 13  no_of_workers          1197 non-null   int32
 14  actual_productivity    1197 non-null   float64
dtypes: datetime64[ns](1), float64(5), int32(1), int64(5), object(3)
memory usage: 135.7+ KB